<%= tagged_tinymce_script %>
<% if @source.resource_type == 'Category'
     resource = Category.find(@source.resource_id)
     translated_path = category_source_translated_source_path(@category,@source,@translated_source)
     hash_destroy_path = hash_for_category_source_translated_source_path(:action => 'destroy')
   else
     resource = Description.find(@source.resource_id)
     translated_path = category_description_source_translated_source_path(@category, resource, @source ,@translated_source)
     hash_destroy_path = hash_for_category_description_source_translated_source_path(:action => 'destroy')
   end %>
<h1><%= ts(:in, :what => t(:for, :what => t('edit.ing.record', :what => TranslatedSource.model_name.human), :whom => "<em>#{formated_mms_pages(@source)}</em>"), :where => h(@translated_source.language.title)) %></h1>
<%= error_messages_for :translated_source %>
<%= form_for(:translated_source, :url => translated_path, :method => :put, :remote => true, :html => { :id => 'translated_source_form' }) do |f| %>
<%=   render :partial => 'translated_sources/form', :locals => {:f => f} %>
      <p><div id="update_div">
<%=     submit_tag 'update translation' %>
      </div></p>
<%  end %>
<%= javascript_tag("$(\'#translated_source_form\').bind(\'ajax:before\', function(){ tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true; });") %>
<p>
<% authorized_only hash_destroy_path do %>
<%=  link_to ts('delete.this'), translated_path, :confirm => 'Are you sure?', :method => :delete, :remote => true %> |
<% end %>
<%= link_to ts('cancel.this'), category_child_path(@main_category, @category), :remote => true %>
</p>