<%= include_tiny_mce_if_needed %>
<p>
    <b><%= TranslatedSource.human_attribute_name(:language_id).s %></b><br />
<%= f.select(:language_id, @languages.collect {|l| [ h(l.title), l.id ] }, { :include_blank => false }) %>
</p>
<p>
    <b><%= TranslatedSource.human_attribute_name(:title).s %></b><br />
<%= f.text_area :title, :rows => 16, :cols => 40, :class => 'mceEditor' %>
</p>
<p>
<%= link_to ts('add.record', :what => t('new.record', :what => TranslatedSource.human_attribute_name(:author))), {:action => 'add_author', :source_id => @source}, :remote => true %>
</p>
<div id="authors_div">
<% if @translated_source.authors.empty? && !current_user.person.nil? %>
<%=  render :partial => 'authors_selector', :locals => {:selected => current_user.person_id} %>
<% else
     for author in @translated_source.authors %>
<%=    render :partial => 'authors_selector', :locals => {:selected => author.id} %>
<%   end
   end %>
</div>  
