<%= tagged_tinymce_script %>
<% if @source.resource_type == 'Category'
     resource = Category.find(@source.resource_id)
     translated_path = category_source_translated_sources_path(@category,@source)
   else
     resource = Description.find(@source.resource_id)
     translated_path = category_description_source_translated_sources_path(@category, resource, @source)
   end %>
<h1><%= ts :for, :what => t('translat.ion').capitalize, :whom => "<em>#{formated_mms_pages(@source)}</em>" %></h1>
<%= error_messages_for :translated_source %>
<%= form_for(:translated_source, :url => translated_path, :remote => true, :html => { :id => 'translated_source_form' }) do |f| %>
<%=   render :partial => 'translated_sources/form', :locals => {:f => f} %>
      <div id="update_div"></div>
      <p><%= submit_tag te('creat.e.record', :what => t('translat.ion')) %></p>
<%  end %>
<%= javascript_tag("$(\'#translated_source_form\').bind(\'ajax:before\', function(){ tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true; });") %>
<p>
<%= link_to ts('cancel.this'), category_child_path(@main_category, @category), :remote => true %>
</p>