<%= tagged_tinymce_script %>
<% if @source.resource_type == 'Category'
     resource = Category.find(@source.resource_id)
     translated_path = category_source_translated_sources_path(@category,@source)
   else
     resource = Description.find(@source.resource_id)
     translated_path = category_description_source_translated_sources_path(@category, resource, @source)
   end %>
<h1><%= ts :for, :what => t('translat.ion').capitalize, :whom => "<em>#{formated_mms_pages(@source)}</em>" %></h1>
<%= error_messages_for :translated_source %>
<% remote_form_for(:translated_source, :url => translated_path, :before => "tinyMCE.triggerSave();document.getElementById(\'submit_button\').disabled = true;", :update => 'info') do |f| %>
<%= render :partial => 'translated_sources/form', :locals => {:f => f} %>
  <div id="update_div">  
  </div>
  <p>
<%= submit_to_remote 'submit_button', te('creat.e.record', :what => t('translat.ion')), :url => translated_path, :update => 'info', :before => "tinyMCE.triggerSave();" %>
  </p>
<% end %>
<p>
<%= link_to_remote ts('cancel.this'), :url => category_child_path(@main_category, @category), :method => :get %>
</p>