<% if params[:description_id].nil? %>
<%   source_path = category_source_path(@category, @source) %>
<%   hash_destroy_path = hash_for_category_source_path(:action => 'destroy') %>
     <h1><%= ts :for, :what => t('edit.ing.record', :what => Source.human_name.capitalize), :whom => "<em>#{h(@category.title)}</em>" %></h1>
<% else %>
<%   source_path = category_description_source_path(@category,description, @source) %>
<%   hash_destroy_path = hash_for_category_description_source_path(:action => 'destroy') %>
     <h1><%= ts :for, :what => t('edit.ing.record', :what => Source.human_name.capitalize),:whom => Description.human_name.capitalize %></h1>
<% end %>
<%= error_messages_for :source %>
<%   remote_form_for(:source, :url => source_path, :before => "tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true;", :update => 'info', :html => { :method => :put}) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p>
<%=    globalized_submit_tag 'update.this' %>
     </p>
<% end %>
<p>
	<% authorized_only hash_destroy_path do %>
	<%=  link_to_remote ts('delete.this'), :url => source_path, :confirm => 'Are you sure?', :update => 'info', :method => :delete %> |
	<% end %>
<%= link_to_remote ts('cancel.this'), :url => category_child_path(@main_category, @category), :method => :get %>
</p>