<%= tagged_tinymce_script %>

<p><b><%= Source.human_attribute_name('mms_id').s %></b><br />
  <%= f.text_field :mms_id %>
</p>
<p><b><%= Source.human_attribute_name('volume_number').s %></b><br />
  <%= f.text_field :volume_number %>
</p>
<p><b><%= Source.human_attribute_name('start_page').s %></b><br />
	<%= f.text_field :start_page %>
</p>
<p><b><%= Source.human_attribute_name('start_line').s %><b><br />
	<%= f.text_field :start_line %>
</p>
<p><b><%= Source.human_attribute_name('end_page').s %></b><br />
	<%= f.text_field :end_page %>
</p>
<p><b><%= Source.human_attribute_name('end_line').s %><b><br />
	<%= f.text_field :end_line %>
</p>
<p>
    <b><%= Source.human_attribute_name('language').s %></b><br />
<%= f.select(:language_id, @languages.collect {|l| [ h(l.title), l.id ] }, { :include_blank => false }) %>
</p>
<p><b><%= Source.human_attribute_name('passage').s %></b><br />
<%= f.text_area :passage, :rows => 16, :cols => 50, :class => 'mceEditor' %>
</p>
<p><b><%= Source.human_attribute_name('note').s %></b><br />
<%= f.text_area :note, :rows => 16, :cols => 50, :class => 'mceEditor' %>
</p>

<%= f.hidden_field :creator_id %>
   
<div id="update_div"></div>