<% if @description.nil? %>
<%   path = category_sources_path(@category) %>
     <h1><%= ts :for, :what => Source.model_name.human.capitalize, :whom => "<em>#{h(@category.title)}</em>" %></h1>
<% else %>
<%   path = category_description_sources_path(@category, @description) %>
     <h1><%= ts :for, :what => Source.model_name.human.capitalize, :whom => Description.model_name.human %></h1>
<% end %>
<%= error_messages_for :source %>
<%= form_for(:source, :url => path, :html => { :id => 'source_form' }) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= submit_tag te('creat.e.record', :what => Source.model_name.human.capitalize), language_options(:disabled_with => 'Posting...') %></p>
<%  end %>
<%= javascript_tag("$(\'#source_form\').bind(\'ajax:before\', function(){ tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true; });") %>
<p>
<%= link_to ts('cancel.this'), category_child_path(@main_category, @category), :remote => true, :method => :get %>
</p>
