<h1><%= ts :in, :what => t(:for, :what => t('edit.ing.record', :what => TranslatedTitle.model_name.human.titleize), :whom => "<em>#{h(@category.title)}</em>"), :where => h(@translated_title.language.title) %></h1>
<%= error_messages_for :translated_title %>
<%= form_for(:translated_title, :url => category_translated_title_path(@category, @translated_title), :remote => true, :method => :put, :html => { :id => 'translated_title_form' }) do |f| %>
<%=   render :partial => 'translated_titles/form', :locals => {:f => f} %>
      <p><div id="update_div">
<%=   submit_tag 'update translation', :disable_with => 'Processing...' %>
      </div></p>
<%  end %>
<p>
<%  if authorized? hash_for_category_translated_title_path(:action => 'destroy') %>
<%=   link_to ts('delete.this'), category_translated_title_path(@category, @translated_title), :remote => true, :confirm => 'Are you sure?', :method => :delete %> |
<%  end %>
<%= link_to ts('cancel.this'), category_child_path(@main_category, @category), :remote => true %>
</p>