<h1><%= ts :in, :what => t(:for, :what => t('edit.ing.record', :what => TranslatedTitle.human_name.titleize), :whom => "<em>#{h(@category.title)}</em>"), :where => h(@translated_title.language.title) %></h1>
<%= error_messages_for :translated_title %>
<% remote_form_for(:translated_title, :url => category_translated_title_path(@category, @translated_title), :before => "document.getElementById(\'submit_button\').disabled = true;", :update => 'info', :html => { :method => :put}) do |f| %>
<%= render :partial => 'translated_titles/form', :locals => {:f => f} %>
  <p>
  <div id="update_div">
    <%= submit_to_remote 'update_button','update translation', :url => category_translated_title_path(@category, @translated_title), :update => 'info' %>
  </div> 
  </p>
<% end %>
<p>
<% authorized_only hash_for_category_translated_title_path(:action => 'destroy') do %>
<%=  link_to_remote ts('delete.this'), :url => category_translated_title_path(@category, @translated_title), :confirm => 'Are you sure?', :update => 'info', :method => :delete %> |
<% end %>
<%= link_to_remote ts('cancel.this'), :url => category_child_path(@main_category, @category), :method => :get %>
</p>