<p>
    <b><%= TranslatedTitle.human_attribute_name(:language_id).s %></b><br />
<%= f.select(:language_id, @languages.collect {|l| [ h(l.title), l.id ] }, { :include_blank => false }) %>
</p>
<p>
    <b><%= TranslatedTitle.model_name.human.titleize.s %></b><br />
<%= f.text_field :title, fixed_language_options(:lang => @translated_title.language.code) %>
</p>
<p>
<%= link_to ts('add.record', :what => t('new.record', :what => TranslatedTitle.human_attribute_name(:author))), {:action => 'add_author', :category_id => @category}, :remote => true %>
</p>
<div id="authors_div">
<% if @translated_title.authors.empty? && !current_user.person.nil? %>
<%=  render :partial => 'authors_selector', :locals => {:selected => current_user.person_id} %>
<% else
     for author in @translated_title.authors %>
<%=    render :partial => 'authors_selector', :locals => {:selected => author.id} %>
<%   end
   end %>
</div>