<h1><%= ts :for, :what => t('translat.ion').capitalize, :whom => "<em>#{h(@category.title)}</em>" %></h1>
<%= error_messages_for :translated_title %>
<% remote_form_for(:translated_title, :url => category_translated_titles_path(@category), :before => "document.getElementById(\'submit_button\').disabled = true;", :update => 'info') do |f| %>
<%= render :partial => 'translated_titles/form', :locals => {:f => f} %>
  <div id="update_div">  
  </div>
  <p>
<%= submit_to_remote 'submit_button', te('creat.e.record', :what => t('translat.ion')), :url => category_translated_titles_path(@category), :update => 'info' %>
  </p>
<% end %>
<p>
<%= link_to_remote ts('cancel.this'), :url => category_child_path(@main_category, @category), :method => :get %>
</p>