<h1><%= ts :for, :what => Description.human_name.capitalize, :whom => "<em>#{h(@category.title)}</em>" %></h1>
<%= error_messages_for :description %>
<% remote_form_for(:description, :url => category_descriptions_path(@category), :before => "tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true;", :update => 'info') do |f|
     if session[:default_author_id].nil?
	   person = current_user.person
 	   default_author_id = person.nil? ? nil : person.id
     else
       default_author_id = session[:default_author_id]
	 end %>
<%=  render :partial => 'form', :locals => {:f => f, :default_author_id => default_author_id} %>
     <p>
<%=    submit_tag te('creat.e.record', :what => Description.human_name.capitalize), language_options(:disabled_with => 'Posting...') %>
     </p>
<% end %>
<p>
<%= link_to_remote ts('cancel.this'), :url => category_child_path(@main_category, @category), :method => :get %>
</p>