<h1>Listing descriptions</h1>

<table class="normal">
  <tr>
    <th>Title</th>
    <th>Language</th>
    <th>Is main</th>
    <th>Creator</th>
  </tr>

<% for description in @descriptions %>
  <tr>
    <td><%=h description.title %></td>
    <td><%=h description.language_id %></td>
    <td><%=h description.is_main %></td>
    <td><%=h description.creator_id %></td>
    <td><%= link_to 'Show', description %></td>
    <td><%= link_to 'Edit', edit_description_path(description) %></td>
    <td><%= link_to 'Destroy', description, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New description', new_description_path %>
