<% master = (@main_category == @category.parent) %>
   <h1><%= ts 'edit.ing.record', :what => ts(:master, :what => master ? Category.model_name.human.capitalize : t(:subcategory)) %></h1>
<%= error_messages_for :category %>
<% if base_language? %>
<%=  form_for(:category, :url => category_child_path(@main_category, @category), :remote => true, :method => :put, :html => { :id => 'category_form' }) do |f| %>
<%=    render :partial => 'form', :locals => {:changing_parent_allowed => true, :f => f, :default_curator_id => nil} %>
       <p><%= globalized_submit_tag 'update.this' %></p>
<%   end %>
<%=  javascript_tag("$(\'#category_form\').bind(\'ajax:before\', function(){ tinyMCE.triggerSave();});") %>
<% else %>
     <h2><%= ts(LANGUAGES[I18n.default_locale][:title]) %></h2>
<%   locale = I18n.locale
     I18n.locale = I18n.default_locale %>
<%=  display_if_not_blank ts('name.for', :what => @main_category.title.titleize), h(@category.title).s %>
<%   I18n.locale = locale
     @category[:title] = @category.title %>
     <h2><%= ts(LANGUAGES[I18n.locale][:title]) %></h2>
<%=  form_for(:category, :url => category_child_path(@main_category, @category), :remote => true, :method => :put, :html => { :id => 'category_form' }) do |f| %>
       <p><b><%= ts 'name.for', :what => @main_category.title.titleize %></b>
<%=    f.text_field :title, language_options %></p>
       <p>
<%=    submit_tag te(:save, :what => t('translat.ion')), language_options(:disable_with => 'Processing...') %>
       </p>
<%   end %>
<% end %>
<p><%= link_to ts('cancel.record', :what => t('edit.ing.this')), category_child_path(@main_category, @category), :remote => true %></p>