<%  children = logged_in? ? expanded.children : expanded.published_children
    has_no_children = children.empty?
    if has_no_children %>
      <span class="node-empty"></span>
<%  else 
      link_id = "contracted_#{expanded.id}_link" %>
<%=   link_to '', contracted_category_child_path(@category.nil? ? @main_category.id : @category.id, expanded.id, :main_category_id => @main_category.id), :remote => true, :class => 'node-minus', :id => link_id %>
<%=   javascript_tag("$(\'##{link_id}\').bind(\'ajax:complete\', function(){ $(\'node_#{@category.nil? ? @main_category.id : @category.id}_div > .node-name\').addClassName(\'selected-node\'); });") %>
<%  end %>
<%= render :partial => 'selectable_node', :locals => { :node => expanded } %>
<%  if base_language? && authorized?(hash_for_new_category_child_path)
	  options = { :remote => true }
      options[:class] = 'unpublished' if !expanded.published? %>
      (<%= link_to ts('new.record', :what => t(:subcategory)), new_category_child_path(@main_category, :parent_id => expanded), options %>)
<%  end %>
<%= render :partial => 'index', :locals => {:node => expanded, :categories => children} %>