<%  if !category.curators.empty? %>
<%=   display_if_not_blank ts('by.curated'), "<i>#{join_with_and(category.curators.collect{|c| c.fullname}) if !category.curators.empty?}</i>" %>
<%  end
    if logged_in? 
      user = category.creator 
      screen_name = user.screen_name 
	  person = user.person %>
<%=	  display_if_not_blank ts('by.entered'), "#{person.nil? ? screen_name : link_to(h(screen_name), person_user_path(person))} (#{ts('update.d.record', :when => h(category.updated_at.to_date.to_formatted_s(:long)))})" %>
<%  end
    if !category.sources.empty? %>
      <div id='catsources_div' class='padded'>
<%=     render :partial => 'sources/index', :locals => {:resource => category} %>
      </div>
<%  end %>
<p><div class='padded'>
<%= form_tag :url => new_category_source_path(category), :method => :get, :remote => true do %>
<%    authorized_only hash_for_new_category_source_path do %>
<%=     submit_tag te('add.record', :what => Source.model_name.human) %>
<%    end 
    end %>
</div></p>
<%  if !category.descriptions.empty? %>
      <div id='descriptions_div' class='descriptions_div'>
<%=     render :partial => 'descriptions/index', :locals => {:category => category} %>
      </div>
<%    if !category.descriptions.empty? %>
      <p>
<%      authorized_only hash_for_set_primary_description_category_path do %>
<%=       link_to ts('primary_description.set'), set_primary_description_category_path(category), :remote => true %>
<%      end %>
      </p>
<%    end
    end
    associated_resources = [
      ["Places", category.feature_count, category.places_url],
      ["Pictures", category.media_count(:type => 'Picture'), category.pictures_url],
      ["Video", category.media_count(:type => 'Video'), category.videos_url],
      ["Texts", category.media_count(:type => 'Document'), category.documents_url]
    ]
    if associated_resources.collect{|ar| ar[1]}.sum > 0 %>
<h3>Associated Resources</h3>
<ul class="main_list normal">
<%= associated_resources.reject{|ar| ar[1] == 0}.collect{|ar| "<li>#{link_to("#{ar[0]} (#{ar[1]})", ar[2])}</li>"}.join.html_safe %>
</ul>
<% end %>
<p>
<%= form_tag :url => new_category_description_path(category), :method => :get do %>
<%   authorized_only hash_for_new_category_description_path do %>
<%=    submit_tag te('add.record', :what => Description.model_name.human) %>
<%   end 
   end %>
</p>