<h1><%= ts 'edit.ing.record', :what => t('topical_map.this', :count => 1) %></h1>
<%= error_messages_for :category %>
<% if base_language? %>
<%=  form_for(:category, :url => category_path(@category), :remote => true, :method => :put, :html => { :id => 'category_form' }) do |f| %>
<%=    render :partial => 'form', :locals => {:changing_parent_allowed => true, :f => f, :default_curator_id => nil} %>
	   <p><%=   globalized_submit_tag 'update.this' %></p>
<%   end %>
<%=  javascript_tag("$(\'#category_form\').bind(\'ajax:before\', function(){ tinyMCE.triggerSave(); document.getElementById(\'submit_button\').disabled = true; });") %>
<% else %>
     <h2><%= ts(LANGUAGES[I18n.default_locale][:title]) %></h2>
<%   locale = I18n.locale
     I18n.locale = I18n.default_locale %>
<%=  display_if_not_blank(Category.human_attribute_name('title').s, h(@category.title).s) %>
<%   I18n.locale = locale
     @category[:title] = @category.title %>
     <h2><%= ts(LANGUAGES[I18n.locale][:title]) %></h2>
<%=  form_for(:category, :url => category_path(@category), :remote => true, :method => :put, :html => { :id => 'category_form' }) do |f| %>
       <p><b><%= Category.human_attribute_name('title').s %></b>
<%=    f.text_field :title, language_options %>
       </p>
       <p><%= globalized_submit_tag ts('save.translate') %></p>
<%   end
   end %>
<p>
<%= link_to ts('cancel.record', :what => t('edit.ing.this')), category_path(@category) %>
</p>