<%= form_tag(new_category_translated_title_path(category), :remote => true, :method => :get) do %>
      <h1><%= "#{h(category.title)}" %></h1>
      <p>(<%= authorized?(hash_for_modify_title_category_path) ? link_to("<i>#{ts('language.english')}</i>".html_safe, modify_title_category_path(category), :remote => true) : "<i>#{ts('language.english')}</i>".html_safe %>)
<%    if authorized? hash_for_new_category_translated_title_path %>
<%=     submit_tag ts('add.record', :what => TranslatedTitle.model_name.human) %>
<%    end %></p>
<%  end %>
<p class="indented">
<%  if !category.translated_titles.empty? %>
      <b>Translations:</b>
<%  end %>
<%= category.translated_titles.collect{ |t| "#{t.title.s} (#{authorized?(hash_for_edit_category_translated_title_path) ? link_to("<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>", edit_category_translated_title_path(category, t), :remote => true)  : "<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>"})" }.join(', ') %>
</p>
<%= render :partial => 'categories/info', :locals => {:category => category} %>
<p>&nbsp;</p>
<%= display_if_not_blank Category.human_attribute_name('cumulative').s, category.cumulative? ? ts(:affirmation) : ts(:negation) %>
<p>
<%  previous = false
    if category.media_count==0 && category.feature_count==0 && authorized?(hash_for_category_path(:action => 'destroy'))
      previous = true %>
<%=   link_to ts('delete.this'), category_path(category), :confirm => 'Are you sure? Please be aware that deleting a parent also deletes its children.', :method => :delete %>
<%  end %>
<%  if authorized? hash_for_edit_category_path %>
<%=   '|' if previous %>
<%=   link_to ts('edit.this'), edit_category_path(category), :remote => true %>
<%    previous = true
    end %>
<%= '|' if previous %>
<span id='unframe'><%= link_to ts('home.for', :what => t('topical_map.this', :count => :many)), root_path %> |</span>
<%= link_to ts('home.for', :what => h(category.title)), category_children_path(category) %>
    <script type="text/javascript">scrollTo(0,0);</script>
| <%= link_to 'Export to CSV', category_children_path(category, :format => 'csv'), :class => 'download-icon' %>
</p>