<%= form_tag new_category_translated_title_path(@category), :remote => true, :method => :get do %>
      <h1><%= "#{h(@category.title).s}" %></h1>
      <p>(<%= authorized?(hash_for_modify_title_category_child_path) ? link_to("<i>#{ts('language.english')}</i>".html_safe, modify_title_category_child_path(@main_category, @category), :remote => true) : "<i>#{ts('language.english')}</i>".html_safe %>)
<%      if authorized? hash_for_new_category_translated_title_path %>
<%=       submit_tag te('add.record', :what => t('translat.ion')), language_options(:disabled_with => 'Posting...') %>
<%      end %>
      </p>
<%  end %>
<% if !@category.translated_titles.empty? %>
     <p class="indented">
       <b><%= TranslatedTitle.model_name.human(:count => :many).titleize.s %>:</b>
<%=    @category.translated_titles.collect{ |t| "#{t.title.s} (#{authorized?(hash_for_edit_category_translated_title_path) ? link_to("<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>".html_safe, edit_category_translated_title_path(@category, t), :remote => true)  : "<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>".html_safe})" }.join(', ').html_safe %>
	 </p>
<% end %>
<%= render :partial => 'categories/info', :locals => {:category => @category} %>
<p>&nbsp;</p>
<%= display_if_not_blank ts('id.record', :what => Category.model_name.human), @category.id %>
<%= display_if_not_blank ts(:url_for_reference), link_to(category_child_url(@main_category, @category), category_child_path(@main_category, @category)) %>
<%= display_if_not_blank Category.human_attribute_name('cumulative').s, @category.cumulative? ? ts(:affirmation) : ts(:negation) %>
   <p id="form">
<%   previous = false
     if authorized? hash_for_edit_category_child_path %>
<%=    link_to ts('edit.this'), edit_category_child_path(@main_category, @category), :remote => true %>
<%     previous = true
     end
     if @category.media_count==0 && @category.feature_count==0 && authorized?(hash_for_category_child_path(:action => 'destroy')) %>
<%=    '|' if previous %>
<%=    link_to ts('delete.this'), category_child_path(@main_category, @category), :remote => true, :confirm => 'Are you sure you want to delete the category? Please be aware that deleting a parent also deletes its children.', :method => :delete %>
<%     previous = true
     end
     if authorized? hash_for_category_path(:action => 'update') %>
<%=    '|' if previous %>
<%=    link_to 'Convert to Autonomous Knowledge Map', category_child_path(@main_category, @category), :remote => true, :method => :put, :submit => 'form' %>
<%     previous = true
     end %>
<%=  '|' if previous %>
<%= link_to 'Export to CSV', category_children_path(@category, :format => 'csv') %>
<script type="text/javascript">scrollToSelected();</script>
</p>