<% form_remote_tag :url => new_category_translated_title_path(@category), :update => 'info', :method => :get do %>
<h1><%= "#{h(@category.title).s}" %></h1>
<p>
<%= "\t(#{authorized?(hash_for_modify_title_category_child_path) ? link_to_remote("<i>#{ts(:english)}</i>", {:url => modify_title_category_child_path(@main_category, @category), :update => 'info', :method => :get}) : "<i>#{ts(:english)}</i>"})" %>
<%    authorized_only hash_for_new_category_translated_title_path do %>  
<%=     submit_tag te('add.record', :what => t('translat.ion')), language_options(:disabled_with => 'Posting...') %>
<%    end %>
</p>
<% end %>
<% if !@category.translated_titles.empty? %>
     <p class="indented">
     <b>Translations:</b>
<%=  ( @category.translated_titles.collect { |t| "#{t.title.s} (#{authorized?(hash_for_edit_category_translated_title_path) ? link_to_remote("<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>", {:url => edit_category_translated_title_path(@category, t), :update => 'info', :method => :get})  : "<i>#{t.language.title.s}#{"#{", from #{join_with_and(t.authors.collect{|a| a.fullname})}" if !t.authors.empty?}"}</i>"})" }).join(', ') %>
	 </p>
<% end %>
<%= render :partial => 'categories/info', :locals => {:category => @category} %>
<p>&nbsp;</p>
<%= display_if_not_blank 'ID', @category.id %>
<%= display_if_not_blank 'URL', link_to(category_child_url(@main_category, @category), category_child_path(@main_category, @category)) %>
<% media_count = @category.media_count
   feature_count = @category.feature_count %>
<%= render :partial => 'categories/associated_objects_count', :locals => {:media_count => media_count, :feature_count => feature_count} %>
<%= display_if_not_blank Category.human_attribute_name('cumulative').s, @category.cumulative? ? ts(:affirmation) : ts(:negation) %>
   <p id="form">
<%   previous = false
     authorized_only hash_for_edit_category_child_path do %>
<%=    link_to_remote 'Edit', :url => edit_category_child_path(@main_category, @category), :update => 'info', :method => :get %>
<%     previous = true
     end
     if media_count['Medium']==0 && feature_count==0 && authorized?(hash_for_category_child_path(:action => 'destroy')) %>
<%=    '|' if previous %>
<%=    link_to_remote ts('delete.this'), :url => category_child_path(@main_category, @category), :confirm => 'Are you sure you want to delete the category? Please be aware that deleting a parent also deletes its children.', :method => :delete %>
<%     previous = true
     end
     authorized_only hash_for_category_path(:action => 'update') do %>
<%=    hidden_field_tag 'category[parent_id]', '' %>
<%=    '|' if previous %>
<%=    link_to_remote 'Convert to Autonomous Knowledge Map', :url => category_child_path(@main_category, @category), :method => :put, :submit => 'form' %>
<%     previous = true
     end %>
<%=  '|' if previous %>
<%= link_to 'Export to CSV', category_children_path(@category, :format => 'csv') %>
<script type="text/javascript">scrollToSelected();</script>
</p>