<div id="container-right-5050" class="container-right-5050">
  <div class="shell-2">
    <h1><%= ts 'topical_map.for', :what => h(@main_category.title.pluralize) %></h1>
<%  base_language_only do
      authorized_only hash_for_new_category_child_path do %>
<%      form_remote_tag :url => new_category_child_path(@main_category), :update => 'info', :method => :get do %>
<%=       submit_tag ts('new.record', :what => t(:master, :what => Category.human_name.capitalize)) %>
<%      end
      end
    end %>
    <div id="navigation" class="normal">
<%=   render :partial => 'index', :locals => {:margin_depth => 0, :categories => @categories} %>
    </div>
    <p>&nbsp;</p>
<%= render :partial => 'persistent_links' %>
  </div>
</div>
<div id="container-left-5050" class="container-left-5050">
  <div class="shell-2">
    <div id="info">
<%=   render :partial => 'main_show', :locals => { :category => @main_category } %>
    </div>
  </div>
</div>